@model Bastis.Models.Entities.City

@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Detallando Municipios
            <small>Configuración</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Configuración</a></li>
            <li class="active">Municipios</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-fw fa-thumb-tack"></i>
                        <h3 class="box-title">Detalle Municipio </h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="box-body">
                        <div class="form-group">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.State.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.State.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Code)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Code)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UnifiedCode)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UnifiedCode)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.StateCode)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.StateCode)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Status)
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <p>
                            @Html.ActionLink("Regresar", "Index", "", new { @class = "btn btn-default btn-large" })
                            @Html.ActionLink("Editar", "Edit", "Cities", new { id = Model.CityID }, new { @class = "btn btn-primary btn-large" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col (left) -->
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
